<h1>About us</h1>
<p> We are working on our one month rails Pinteresting app!
	<LG-START-purple shadow-eyeshadow-70%-fixed>
<div style="width:300px;height:400px;"></div>
<LG-END>

<!--LG-START-purple shadow-eyeshadow-70%-fixed-->
<div style="width:300px;height:400px;"></div>
<!--LG-END-->
</p>

